h1 {
  text-align: center;
  padding: 5rem;
  font-weight: 300 !important;
  font-size: 6rem !important;
  z-index: 1;
}

h2 {
  text-align: center;
  font-weight: 300 !important;
  height: 15vh !important;
  z-index: 2;
  margin-top: -40px !important;
  font-size: 1.2rem !important;
}

.middle-content-section {
  height: 100%;
  width: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  background-color: #30336b;
  color: whitesmoke;
}

table {
  table-layout: fixed;
  width: 100%;
  justify-content: center;
}

table, th, td {
  border: solid 1px #30336b;
  border-collapse: collapse;
}

th, td {
  padding: .8rem;
}

th:nth-child(3) {
  text-align: center;
}

th:nth-child(1) {
  text-align: center;
}

td:nth-child(1) {
  text-align: center;
}

.save-icon-table-data {
  display: flex;
  justify-content: center;
}

input {
  width: 100%;
  border-radius: .6rem;
}

/* this will change after time has passed. */
  /* background-color: #95afc0; */

/* this will change if it's current time */
  /* background-color: #dff9fb; */

/* White will appear if time has not passed */



